:theme-black {
    --rosa: #e60f2f;
    --fundo: black;
}

:theme-white {
    --rosa: #f15f75;
    --fundo: white;
}

body {
    background-color: var(--fundo);
}

.calculator {
    width: 350px;
    height: 320px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 50px;
}

#display {
    width: 320px;
    height: 40px;
    text-align: right;
    background-color: var(--fundo);
    border: 3px solid var(--rosa);
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #7fff00;
}

.btnTop {
    color: white;
    background-color: #6f6f6f;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
}

.btnNum {
    color: white;
    background-color: black;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
}

.btnMath {
    color: white;
    background-color: #ff4561;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
}

.btnOpps {
    color: white;
    background-color: #ff9933;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
}